# =============== #
# == Accounts == #
# ============== #

DEPLOYER_ADDRESS=""
DEPLOYER_PK="" 

# =================== #
# == Chain Configs == #
# =================== #

# Use for all etherscan derived explorers
ETHERSCAN_API_KEY=""

BASE_RPC_URL=""
BASE_FORKING_BLOCK=""
